:root {
    --primaryBackground-color: rgb(65, 65, 255);
    --mainPadding: 1rem;
    --buttonPadding: 10px 15px 10px 15px;
    --buttonRadius: 0.7rem;
    --primary-color: #020617;   
    --textColor: rgb(3, 155, 155);
    --textShadow: 0 0 50px rgba(0, 64, 255, 0.311);
    --fontSize: clamp(0.9rem, 1.8vw, 1.2rem);
}
*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
.sphere-grid-background{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image:
    linear-gradient(to right, rgba(71, 85, 105, 0.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(71, 85, 105, 0.3) 1px, transparent 1px),
    radial-gradient(circle at 50% 50%, rgba(139, 92, 246, 0.15) 0%, transparent 70%);
    background-size: 32px 32px, 32px 32px, 100% 100%;
    background-color: #020617;
    z-index: 0;
}
body {
    font-family: 'quicksand', sans-serif;
    box-sizing: border-box;
    width: 100vw;
    color: var(--textColor);
    font-size: var(--fontSize);
}
main {
    box-sizing: border-box;
    width: 100%;
    backdrop-filter: blur(2px);
    padding: 2rem;
    margin-top: 3rem;
}
button {
    transition: transform 0.2s ease-in-out;
}
button:active {
    transform: scale(1.05);
}
.myLogo {
    width: clamp(80px, 2vw, 100px);
    height: clamp(22px, 2vh, 44px);
    align-self: center;
    padding-top: 1rem;
}
.navLinks {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    height:  clamp(300px, 70vh, 400px);
    width: 100vw;
    padding: 1rem 0rem 1rem 2rem;
    margin: 0rem 0 0 0;
    transition: 0.3s ease-in-out;
    position: fixed;
    inset: 0 0 0 auto;
    transform: translatey(-120%); 
    box-sizing: border-box;
    background-color: var(--primary-color);
}
.navLink {
    text-decoration: none;
    color: cyan;
    transition: transform 0.2s ease;
}
.navLink:focus {
    transform: scale(1.1);
    font-weight: bold;
}
.navLinks.active {
    transform: translatey(0);
    z-index: 50;
}
#menuWord {
    font-size: var(--fontSize);
    font-weight: 700;
    padding-top: 5px;
    color: cyan;
}
.hamburger {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-self: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    z-index: 50;
    border-radius: 5px;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}
.bar {
    width: 15px;
    background-color: cyan;
    height: 2px;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
}
.headerSection {
    display: flex;
    width: 100%;
    height: 25px;
    justify-content: space-between;
    padding: 1.6rem;
    background-color: #020617cf;
    backdrop-filter: blur(3px);
    overflow: visible;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    box-sizing: border-box;
}
.heroSection {
    text-align: center;
    margin-top: 4rem;
    padding-right: 1rem;
    padding-left: 1rem;    
}
#heroIntro {
    font-size: var(--fontSize);
}
#pHello {
    font-weight: lighter;
    font-size: var(--fontSize);
}
#myName {
    color: blue;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: clamp(1.3rem, 4vw, 2rem);
    text-shadow: var(--textShadow);
}
#mySkill {
    font-weight: bolder;
    color: cyan;
    font-size: 1.3rem;
}
 
button a {
    text-decoration: none;
    color: cyan;
}
.viewCTA {
    background-color: var(--primaryBackground-color);
    border: none;
    padding: var(--buttonPadding);
    border-radius: var(--buttonRadius);
    font-weight: bold;
}
.getCTA {
    background-color: var(--primary-color);
    border: 1px solid cyan;
    padding: var(--buttonPadding);
    border-radius: var(--buttonRadius);
    margin-top: -20px;
}
#aboutSection {
    text-align: center;
    margin-top: 3rem;
    margin-left: 0;
    margin-right: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    background-color: var(--primary-color);
}
#aboutHeading {
    color: cyan;
    margin-bottom: 2rem;
    font-weight: 800;
}
#aboutMe p {
    font-size: var(--fontSize);
}
.me {
    color: var(--primaryBackground-color);
}
.numberRate {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.numberRate .rateNumbers {
    box-sizing: border-box;
    font-weight: bolder;
    color: var(--primaryBackground-color);
    font-size: 1.5rem;
}
.profilePicture {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--primary-color);
    border: none;
    border-radius: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--textShadow);
    justify-self: center;
    margin-top: 4rem;
}
#mainPic {
    width: 100px;
    height: 100px;
    box-shadow: var(--textShadow);
    border-radius: 120px;
    justify-self: center;
    object-fit: cover;
    margin-top: 1rem;
}
#profileName {
    color: cyan;
    font-weight: bold;
    font-size: clamp(1.5rem, 3vw, 1.7rem);
    padding-top: 1rem;
}
#profileSkill {
    color: var(--primaryBackground-color);
    font-weight: bold;
    padding-top: 0.5rem;
}
#profileDes {
    font-size: var(--fontSize);
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.skillSection {
    margin-top: 3rem;
    text-align: center;
}
.skillHeading {
    color: cyan;
    font-weight: 800;
    padding-bottom: 2rem;
}
.expertise {
    color: var(--primaryBackground-color);
}
.skills {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--primary-color);
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: var(--textShadow);
    justify-self: center;
    margin-top: 2rem;
    text-align: left;
}
.skillDes {
    margin-bottom: 3rem;
}
.skills h3 {
    color: cyan;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-self: center;
}
meter {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    margin-top: -1rem;
}
meter::-webkit-meter-bar {
    background: var(--primary-color);
}
meter::-webkit-meter-optimum-value {
    background: var(--primaryBackground-color);
}
label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.labels2 {
    color: var(--primaryBackground-color);
}
.learningBox {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--primary-color);
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: var(--textShadow);
    justify-self: center;
    margin-top: 4rem;
    text-align: center;
}
#learningHeading {
    color: cyan;
    font-weight: 800;
    padding-bottom: 1rem;
}
#learning {
    color: var(--primaryBackground-color);
}
#projectSection {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
#projectHeading {
    color: cyan; 
}
#contactSection {
    text-align: center;
}
.contactHeading {
    color: cyan;
    font-weight: 800;
}
#touch {
    color: var(--primaryBackground-color);
}
.contactMainText {
    padding-top: 1rem;
}
.connectWrapper {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--primary-color);
    border: none;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: var(--textShadow);
    justify-self: center;
    margin-top: 2rem;
    text-align: left;
}
#socialsConnectHeading {
    color: cyan;
    font-weight: bold;
    padding: 0 0 1rem 0;
    margin-bottom: 1.5rem;
}
.fas {
    color: var(--primaryBackground-color);
    background: var(--primary-color);
    border-radius: 100%;
    border: none;
    padding: 8px;
    width: 1rem;
    height: 1rem;
    align-self: center;
}
.userInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}
.userInfo p {
    align-self: center;
}
.emailText {
    color: cyan;
    font-weight: bold;
}
.followButtons {
    margin-bottom: 1rem;
}
.socials1, .socials2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem; 
    justify-content: space-around;
}
.Cta {
    padding: 0.4rem 1rem 0.4rem 1rem; 
    border: 1px solid cyan;
    width: 100px;
    align-content: center;
    text-align: center;
    border-radius: var(--buttonRadius);
    box-shadow: var(--textShadow);
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.box1 {
    width: 0.6rem;
    height: 0.6rem;
    display: inline-block;
    background-color: blue;
    border-radius: 2px;
}
.box2 {
    width: 0.6rem;
    height: 0.6rem;
    display: inline-block;
    background-color: pink;
    border-radius: 2px;
}
.box3 {
    width: 0.6rem;
    height: 0.6rem;
    display: inline-block;
    background-color: skyblue;
    border-radius: 2px;
}
.box4 {
    width: 0.6rem;
    height: 0.6rem;
    display: inline-block;
    background-color: orange;
    border-radius: 2px;
}
.socialNames a {
    color: cyan;
    text-decoration: none;
    font-weight: bold
}
.formWrapper {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--primary-color);
    border: none;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: var(--textShadow);
    justify-self: center;
    margin-top: 2rem;
    text-align: left;
}
.formHeading {
    color: cyan;
    margin-bottom: 1rem;
}
input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    background: transparent;
    border: 1px solid var(--textColor);
    margin-top: 1rem;
    color: cyan;
    outline: none;
    border-radius: var(--buttonRadius);
}
textarea {
    resize: none;
    height: 5rem;
}
#submitButton {
    padding: var(--buttonPadding);
    width: 100%;
    margin-top: 1rem;
    border-radius: var(--buttonRadius);
    border: none;
    color: cyan;
    font-weight: bold;
    background: var(--primaryBackground-color);
}
.freelanceWrapper {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--primary-color);
    border: none;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: var(--textShadow);
    justify-self: center;
    margin-top: 2rem;
    text-align: left;
}
.hireMe {
    background-color: var(--primaryBackground-color);
    border: none;
    padding: var(--buttonPadding);
    border-radius: var(--buttonRadius);
    font-weight: bold;
    margin-top: 1.5rem;
    display: flex;
    justify-self: center;
    width: 100%;
    justify-content: center;
}
.freelanceText {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.freelanceHeading {
    font-weight: 700;
    color: cyan;
}
footer {
    margin-top: 5rem;
    background-color: var(--primary-color);
    text-align: center;
    padding: 2rem;
    border-top: 1px solid cyan;
}
@media (min-width: 689px) {
    :root {
        --fontSize: clamp(0.7rem, 1.5vw, 1rem);
    }
    .headerSection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navLinks {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        position: relative;
        right: 0;
        top: 1.2rem;
        height: 1rem;
        background: transparent;
        align-content: center;
        justify-content: right;
        padding-top: 1rem;
        padding-left: 0;
        padding-bottom: 0;
    }
    #myLogo {
    width: 100px;
    height: 34px;
    align-self: center;
    }
    #horizontal {
        display: none;
    }
    #menuWord {
        display: none;
    }
    .navLink {
        font-weight: bold;
        font-size: var(--fontSize);
        align-self: center;
    }
    .hamburger {
        display: none;
    }
    #contactNavBtn {
        background-color: var(--primaryBackground-color);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-radius: var(--buttonRadius);
    }
}
